@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');

@font-face {
    font-family: 'MedulaOne-Regular';
    src: url(fontes/MedulaOne-Regular.ttf);
    font-weight: normal;
}

:root{
    --cor1:#e62894;
    --cor2:#3b78c5;
    --cor3:#eac98e;
    --cor4:#ffffff;
    

    --font-padrao: Arial, verdana, helvetica, sans-serif;
    --font-destaque: 'MedulaOne-Regular', 'cursive';
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e6289416;
    font-family: var(--font-padrao);
}

.clear{
    clear: both;
}

a.externo::after{
    content: '\00a0\1F3F0';
}

header {
    background-color: var(--cor1);
    min-height: 130px;
    text-align: center;
    padding-top: 40px;
}

header h1{
    color: var(--cor4);
    font-family: var(--font-destaque);
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: normal;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.51)
}

header p{
    font-family: var(--font-padrao);
    color: var(--cor4);
    font-size: 20px;
    margin-bottom: 30px;
    margin: auto;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.371);
}

nav {
    text-align: center;
    background-color: var(--cor1);
    padding: 5px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.273);
}

nav a{
    color: var(--cor4);
    padding: 5px;
    text-decoration: none;
    border-radius: 20px;
    transition-duration: .5s;
    font-weight: bold;
}

nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor4);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: var(--cor4);
    padding: 30px;
}

main h1 {
    color: var(--cor2) ;
    font-family: var(--font-destaque);
    font-weight: lighter;
    font-size: 3em;
}

main h2 {
    font-family: var(--font-padrao);
    font-weight: normal;
    font-size: 20px;
    margin: 0px 0px 15px 0px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 16px;
}

main strong{
    color: var(--cor2);
}

main ul {
    list-style-type: '\1F3F0\00a0\00a0';
    list-style-position: inside;
    margin-left: 15px;

}

.magic > img {
    margin: auto;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 300px;
    
}

.roteiros-parques {
    display: flex;
    margin: auto;

}

.box {
    display: block;
    margin: auto;
   
}

.box p {
    color: var(--cor2);
    font-weight: bold;
    margin-bottom: 5px;

}

.box > img {
    border-radius: 50%;
    min-width: 180px;
    margin-bottom: 50px;

}

.pluto img {
    margin: auto;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 300px;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    background-color: var(--cor1);
    color: var(--cor4);
    padding: 1px;
    text-align: center;
}


